h1{
    color: blue;
    width: 90vw;
    text-align: center;
}


p{
    font-style: italic;
}

li{
    text-decoration: overline;
    
}

h2{

text-decoration-line: unset;
}

img{
    width: 10vw;
}